/target/classes/org/dlds/mobbattle/LocationCalculator$LocationSafetyPair.class
/target/classes/org/dlds/mobbattle/LocationCalculator.class
/target/classes/org/dlds/mobbattle/MobBattle.class
/target/classes/plugin.yml
/target/classes/org/dlds/mobbattle/TimerHandler$1.class
/target/classes/org/dlds/mobbattle/TimerHandler.class
